@implements IDisposable
@inject NavigationManager NavigationManager
@inject IStringLocalizer<Resources.Resource> L
@inject ICommonService CommonService
@inject AuthenticationStateProvider AuthenticationStateProvider
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.AspNetCore.Identity;

<nav class="navbar navbar-expand-lg fixed-top navbar-light px-4 px-lg-5 py-3 py-lg-0">
    <a href="/" class="navbar-brand p-0">
        <h1 class="display-6 text-primary m-0"><img src="/img/logored.png" alt="Logo">Valkian Technologies</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
@*         <form data-permanent>
            @L["Buscar"]: <input type="text" />
        </form> *@
        <div class="navbar-nav ms-auto py-0">
            <div style="height:100%;padding-top:35px;padding-right:50px;"><CultureSelector /></div>
            
            <div class="nav-item dropdown">
                <a href="/" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Valkian</a>
                @* <a href="#" class="nav-link dropdown-toggle">@L["Who we are"]</a> *@
                <div class="dropdown-menu m-0">
                    <a href="/About" class="dropdown-item">@L["About"]</a>
                    <a href="/Vision" class="dropdown-item">@L["Visión"]</a>
                    <a href="/Privacy" class="dropdown-item">@L["Privacidad"]</a>
                    <a href="/Legal" class="dropdown-item">@L["Legal"]</a>
                    <a href="/Testimonial" class="dropdown-item">@L["Testimonial"]</a>
                </div>
            </div>
            @* <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">@L["Portfolio"]</a>
                <div class="dropdown-menu m-0">
                    <a href="/Dba" class="dropdown-item">@L["DBA"]</a>
                    <a href="/BlueBriks" class="dropdown-item">BlueBriks</a>
                    <a href="/Pm" class="dropdown-item">@L["Project Management"]</a>
                    <a href="/Integration" class="dropdown-item">@L["Integration"]</a>
                    <a href="/Websites" class="dropdown-item">@L["Websites"]</a>
                </div>
            </div> *@
            @if (isRoleWeb || isRoleMarketing)
            {
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Web Admin</a>
                    <div class="dropdown-menu m-0">
                        <a href="/MetaTags" class="dropdown-item">@L["MetaTags"]</a>
                        <a href="/Articles" class="dropdown-item">@L["Articles"]</a>
                        <a href="/Calendars" class="dropdown-item">@L["Calendars"]</a>
                        <a href="/Announcements" class="dropdown-item">@L["Announcements"]</a>
                    </div>
                </div>
            }
@*             <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                <div class="dropdown-menu m-0">
                    <a href="/feature" class="dropdown-item">Features</a>
                    <a href="/pricing" class="dropdown-item">Pricing</a>
                    <a href="/blog" class="dropdown-item">Blog</a>
                    
                    <a href="/404" class="dropdown-item">404 Page</a>
                </div>
            </div> *@
            <a href="/Contact" class="nav-item nav-link">@L["Contact"]</a>
        </div>
        
        <AuthorizeView>
            <Authorized>
                <a href="Account/Manage" class="btn btn-light border border-primary rounded-pill text-primary py-2 px-4 me-4">@context.User.Identity?.Name</a>
                <form action="Account/Logout" method="post">
                    <AntiforgeryToken />
                    <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                    <button type="submit" class="nav-link">
                        <span class="btn btn-light border border-primary rounded-pill text-primary py-2 px-4 me-4" aria-hidden="true">@L["Logout"]</span>
                    </button>
                </form>
                @* <a href="Account/Login" class="btn btn-light border border-primary rounded-pill text-primary py-2 px-4 me-4">Log In</a> *@
            </Authorized>
            <NotAuthorized>
                <a href="Account/Login" class="btn btn-light border border-primary rounded-pill text-primary py-2 px-4 me-4">@L["Log In"]</a>
                <a href="Account/Register" class="btn btn-primary rounded-pill text-white py-2 px-4">@L["Sign Up"]</a>
            </NotAuthorized>
        </AuthorizeView>
        
        
    </div>
</nav>
@code {
    private string? currentUrl;
    public System.Security.Principal.IPrincipal User { get; set; }
    public static string CurrentUserName { get; set; }
    private bool isRoleAdmin { get; set; } = false;
    private bool isRoleAccounting { get; set; } = false;
    private bool isRoleMarketing { get; set; } = false;
    private bool isRoleWeb { get; set; } = false;
    private bool isRoleSales { get; set; } = false;
    private bool isRoleWarehouse { get; set; } = false;
    private bool isRoleBanking { get; set; } = false;

    System.Security.Claims.ClaimsPrincipal CurrentUser;

    protected override async Task OnInitializedAsync()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
        var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        CurrentUserName = authenticationState.User.Identity.Name;
        isRoleWeb = await CommonService.IsRoleMember(CurrentUserName, "Web");
        isRoleMarketing = await CommonService.IsRoleMember(CurrentUserName, "Marketing");
        isRoleAccounting = await CommonService.IsRoleMember(CurrentUserName, "Accounting");
        isRoleSales = await CommonService.IsRoleMember(CurrentUserName, "Sales");
        isRoleBanking = await CommonService.IsRoleMember(CurrentUserName, "Banking");
        isRoleWarehouse = await CommonService.IsRoleMember(CurrentUserName, "Warehouse");
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
