@using Microsoft.AspNetCore.Localization
@using System.Globalization
@inject IWebService WebService
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Valkian Technologies" />
    <meta name="copyright" content="Valkian Technologies" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    @if (MetaTagList != null)
    {
        @foreach (var metaTag in MetaTagList)
        {
            <meta content="@metaTag.Keywords" name="keywords" lang="@metaTag.LanguageId">
            <meta content="@metaTag.Description" name="description" lang="@metaTag.LanguageId">
        }
    }
    <meta name="robots" content="index" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["BlazorBB2026.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="@Assets["Components/Account/Shared/PasskeySubmit.razor.js"]" type="module"></script>
</body>
</html>
<script>
    window.blazorCulture={
        get:()=>window.localStorage['BlazorCulture'],
        set:(value)=>window.localStorage['BlazorCulture']=value
    };
</script>
@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }
    IEnumerable<MetaTag>? MetaTagList;
    protected override async Task OnInitializedAsync()
    {
        MetaTagList = await WebService.GetMetaTags();
    }
    protected override void OnInitialized()
    {
        HttpContext?.Response.Cookies.Append(
            CookieRequestCultureProvider.DefaultCookieName,
            CookieRequestCultureProvider.MakeCookieValue(
                new RequestCulture(
                    CultureInfo.CurrentCulture,
                    CultureInfo.CurrentUICulture)));
    }
}